<div class="siteHeading">
  <h1 class="siteHeadingHead">vag·a·bond</h1>
  <span class="siteSubHeadingElement">noun</span><br>
  <div class="siteSubHeading">
    1. a person who wanders from place to place
  </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" ></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="/cities/London"><img src="http://i.imgur.com/rnY5IDm.jpg" alt="London"></a>
      <div class="carousel-caption d-none d-md-block">
    <h3>LONDON</h3>
    <p>UNITED KINGDOM</p>
    </div>
    </div>

    <div class="item">
      <a href="/cities/Atlanta"><img src="http://i.imgur.com/to12BJX.jpg" alt="Atlanta"></a>
    <div class="carousel-caption d-none d-md-block">
    <h3>ATLANTA</h3>
    <p>GEORGIA</p>
  </div>
  </div>

    <div class="item">
      <a href="/cities/San Francisco"><img src="http://i.imgur.com/UYebXB9.jpg" alt="San Francisco"></a>
    <div class="carousel-caption d-none d-md-block">
    <h3>SAN FRANCISCO</h3>
    <p>CALIFORNIA</p>
  </div>
</div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
