<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="span8 welcome-image">
		<div class="carousel slide" id="myCarousel">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<a href="/cities/london"><img src="http://i.imgur.com/kT4bgvh.jpg"></a>
				</div>
				<div class="item">
					<a href="/cities/london"><img src="http://i.imgur.com/7G3B0Yz.jpg"></a>
				</div>
				<div class="item">
					<a href="/cities/atlanta"><img src="http://i.imgur.com/317uEqJ.jpg"></a>
				</div>
				<div class="item">
					<a href="/cities/san francisco"><img src="http://i.imgur.com/RiYsQ03.jpg"></a>
				</div>
				<div class="item">
					<a href="/users/sign_up"><img src=""></a>
				</div>
			</div><!-- Carousel nav -->
			<a class="carousel-control left" data-slide="prev" href="#myCarousel">&lsaquo;</a> <a class="carousel-control right" data-slide="next" href="#myCarousel">&rsaquo;</a>
		</div>
	</div>
</body>
</html>
