<h1>City#show</h1>
<p>Find me in app/views/city/show.html.erb</p>

<h1>
  <%= @city.name %>
</h1>

<h2>

 <ul>
    <% @posts.each do |post| %>
      <li>
        <%= post.content %>
      </li>
    <% end %>
 </ul>
</h2>