

<h1>Post#new</h1>
<p>Find me in app/views/post/new.html.erb</p>

<%= bootstrap_form_for(@post, url: post_create_path) do |f| %>

  <%= f.text_field :title %>
  <%= f.text_field :content %>
  <%= f.submit "Create Post" %>

<% end %>