<div class="feed feed-header">
  <h3>What our Vagabonds are saying</h3>
</div>
<!--Posts Feed Template-->
<div class="container feed feed-container">
  <% @posts = current_user.sorted_posts %>
  <% @posts.each do |post| %>
    <%= render "post/post", collection: @post = post %>
  <% end %>
</div>



