<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>

<div class="flex-container">
  <div class="userInfo">
    <div class="userPicture" > <img src="" alt=""></div>
    <div class="userDetails"></div>
    <div class="userButtons"></div>
  </div>

  <div class="posts">
    <div class = "individualPost"></div>
  </div>

</div>
