// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottomNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  position : absolute;
  bottom : 0;
  height : 20px;
  padding: 10px
}
footer {
  align-content: flex-end;
}


.siteHeading {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  padding: 0 0 6px 0;
  font-weight: bold;
  //background: rgba(200, 200, 200, 0.25);
  max-width: 500px;
  margin: auto;
}

.siteHeadingHead {
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -2px;
  text-align: center;

}

.siteSubHeading {
  //font-family: Gill Sans, Verdana;
  font-size: 18px;
  //line-height: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  width: 500px;
  margin: auto;
  text-align: center;
}

.siteSubHeadingElement {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
  font-style: italic;
  background: rgba(200, 200, 200, 0.5);
  text-align: left;
}

.siteSubHeadingBody {
  margin-left: 20px;
}

.new_user {
  max-width: 335px;
  padding: 10px 40px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 12px;
  opacity: 0.8;
  text-align: center;
}
