// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-image: url("http://i.imgur.com/unEWLPX.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  background-color: white;
  position : absolute;
  bottom : 0;
  height : 50px;
  padding: 10px
}
footer {
  align-content: flex-end;
}