.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;

}

.profile_img {
  //border-radius: 6px;
  max-width: 300px;
  margin: 50px;
}

.userButtons {
  margin-left: 40px;
}
.userDetails p {
  color: #0d2f2f;
  font-weight: bold;
}
.userBio {
  text-align: left;
  padding: 45px 30px 30px 30px;
}

.individualPost {
  text-align: center;
}
