.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
}

.profile_img {
  border-radius: 22px;
  max-width: 300px;
}

.userBio {
  text-align: center;
  padding: 45px 30px 30px 30px;
}

.individualPost {
  text-align: center;
}
